*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
.pr-40{
  padding-right: 40px;
}
body{
  font-family: 'Bangers', sans-serif;
font-family: 'Chewy', sans-serif;
}
.page-wrapper{
  background-image: url('../images/complete_lobby_files/lobby_seperated_ui_buttons/background/lobby_backgorund.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header__wrapper{
  padding-top: 10px;
  padding-bottom: 10px;
}
.amt-section{
  padding-left: 10px;
  padding-right: 10px;
}
.amt-section span{
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}
.user-image-section img{
  width: 80px;
}
.sidebar{
  position: fixed;
    top: 16%;
    left: 6%;
}
.sidebar li {
  margin-bottom: 10px;
}
.sidebar img{
  width: 80px;
}
.main-body{
  padding-left: 110px;
}
.nav__wrap{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav__wrap img{
  width: 80px;
}
.nav__wrap h5{
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}
.nav__wrap__login img{
  width: 390px;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height: 152px; */
  background-image: url(../images/complete_lobby_files/lobby_seperated_ui_buttons/background/bottom_bar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 7%;
}
.footer__wrapper{
  display: flex;
  justify-content: center;
}

header{
  background-image: url(../images/complete_lobby_files/lobby_seperated_ui_buttons/background/top_bar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -10px;
  margin-right: -10px;
}

/*Login Section */
.login-inner{
  width: 450px;
  display: flex;
  align-items: center;
  margin: auto;
  height: 100vh;
}