*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
.pr-40{
  padding-right: 40px;
}

.page-wrapper{
  background-image: url('../images/complete_lobby_files/lobby_seperated_ui_buttons/background/lobby_backgorund.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* .header__wrapper{
  padding-top: 10px;
  padding-bottom: 10px;
} */
/* .amt-section{
  padding-left: 10px;
  padding-right: 10px;
} */
.amt-section span{
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  /* font-size: 20px; */
  font-size: 26px;
}

.user-image-section img{
  width: 80px;
}
.sidebar{
  position: fixed;
    top: 16%;
    left: 6%;
}
.sidebar li {
  margin-bottom: 10px;
}
.sidebar img{
  width: 80px;
}
.main-body{
  padding-left: 110px;
  padding-top: 50px;
}

.carousel-inner img{
  width: 230px;
}
/* .nav__wrap{
  display: flex;
  align-items: center;
  flex-direction: column;
}*/

.nav__wrap img{
  height: 120px;
} 
/* .nav__wrap h5{
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
} */
.nav__wrap__login{
  display: flex;
  align-items: end;
}
.nav__wrap__login img{
  height: 80px;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height: 152px; */
  background-image: url(../images/complete_lobby_files/lobby_seperated_ui_buttons/background/bottom_bar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 7%;
}
.footer__wrapper{
  display: flex;
  justify-content: center;
}

header{
  background-image: url(../images/complete_lobby_files/lobby_seperated_ui_buttons/background/top_bar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -10px;
  margin-right: -10px;
}
.carousel-control-next {
  right: -18px;
}
.carousel-control-next-icon {
 background-image: url(../images/complete_lobby_files/lobby_seperated_ui_buttons/slider/next_btn.png);
 height: 3rem;
}
.carousel-control-prev {
 display: none;
}
.carousel-control-next, .carousel-control-prev {
  width: 3%;
}

.carousel-indicators .active {
  opacity: 1;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity .6s ease;
    background-image: url(../images/complete_lobby_files/lobby_seperated_ui_buttons/slider/slider_active.png);
}


/*Login Section */
.login-section{
  height: 100vh;
  background-image: url(../images/complete_lobby_files/login/login_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}

.login_inner{
  width: 275px;
  margin-left: 178px;
  margin-top: 190px;
}

.width-73{
  width: 73% !important;
}

/*Animation for footer buttons */

@keyframes bounce {
  0% { transform: translateY(-5px)  }
  50% { transform: translateY(10px) }
  100% { transform: translateY(-5px) }
}

.nav-animation{
  -webkit-animation: bounce 3s infinite ease-in-out;
  -o-animation: bounce 3s infinite ease-in-out;
  -ms-animation: bounce 3s infinite ease-in-out; 
  -moz-animation: bounce 3s infinite ease-in-out; 
  animation: bounce 3s infinite ease-in-out;
}


/* For sidebar active image*/
/* .sidebar ul li .image{
  display: none;
}

.sidebar ul li .image.active{
  display: block;
} */

/* Page Loader Section*/
.page-loader{
  height: 100vh;
  background-image: url('../images/complete_lobby_files/loading/loading_background_images/full_image.png');
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.page-loader .image-folder{
  margin-bottom: 120px;
  position: relative;
}
.page-loader .image-folder img{
  width: 800px;
}

.progress-bar{
  position: absolute;
  left: 10px;
  top: 8px;
  height: 15px;
  background-color: #301c02;
  border-radius: 5px;
  animation: progress 10s ease-in 1;
}

@keyframes progress {
  from {
      width: 0;
  }
  to{width: 100%;
    
  }
}


.carousel{
  height: calc(100vh - 274px);
}


.header-middle-section{
  width: 73%;
  margin-left: 104px;
  height: 60px;
  position: relative;
}

body {
  cursor: url('../images/complete_lobby_files/lobby_seperated_ui_buttons/slider/cursor.png'), auto;
}
